In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('ilsco_test.csv')

In [9]:
df

,LugSize,WireSize,ColorCode,MT25,94285,IDT6,IDT12,ILC12N
0,8,8 AWG,Blue,1.0,2.0,1,NaN,1
1,6,6 AWG,Gray,1.0,2.0,1,1.0,1
2,4,4 AWG,Green,1.0,3.0,1,1.0,1
3,2,2 AWG,Pink,2.0,3.0,1,1.0,1
4,1,1 AWG,Gold,2.0,3.0,1,1.0,1
5,1/0,1/0 AWG,Tan,2.0,3.0,1,1.0,1
6,2/0,2/0 AWG,Olive,2.0,3.0,2,1.0,1^{c}
7,3/0,3/0 AWG,Ruby,2.0,3.0,2,1.0,1^{c}
8,4/0,4/0 AWG,White,2.0,NaN,2,1.0,2
9,250,250 kcmil,Red,NaN,NaN,2,1.0,2
10,300,300 kcmil,Blue,NaN,NaN,2,1.0,2
11,350,350 kcmil,Brown,NaN,NaN,2,1.0,2
12,400,400 kcmil,Green,NaN,NaN,2,1.0,4
13,500,500 kcmil,Pink,NaN,NaN,2^{e},1.0,4
14,600,600 kcmil,Black,NaN,NaN,2^{e},1.0,4
15,700/750,700/750 kcmil,Yellow,NaN,NaN,2^{e},1.0,3
16,700/750_2,900 kcmil\nCompact Al,Yellow,NaN,NaN,NaN,NaN,3
17,1000,1000 kcmil,Brown,NaN,NaN,NaN,NaN,NaN

In [10]:
df[df['LugSize']=="8"]

  LugSize WireSize ColorCode  MT25  94285 IDT6  IDT12 ILC12N
0       8    8 AWG      Blue   1.0    2.0    1    NaN      1

In [22]:
column_name = ['WireSize','MT25']

In [15]:
row_condition[column_name]

0    1.0
Name: MT25, dtype: float64

In [27]:
df.loc["8", column_name]

WireSize    8 AWG
MT25          1.0
Name: 8, dtype: object

In [16]:
df.set_index('LugSize', inplace=True)

In [17]:
df.loc

                        WireSize ColorCode  MT25  94285   IDT6  IDT12 ILC12N
LugSize
8                          8 AWG      Blue   1.0    2.0      1    NaN      1
6                          6 AWG      Gray   1.0    2.0      1    1.0      1
4                          4 AWG     Green   1.0    3.0      1    1.0      1
2                          2 AWG      Pink   2.0    3.0      1    1.0      1
1                          1 AWG      Gold   2.0    3.0      1    1.0      1
1/0                      1/0 AWG       Tan   2.0    3.0      1    1.0      1
2/0                      2/0 AWG     Olive   2.0    3.0      2    1.0  1^{c}
3/0                      3/0 AWG      Ruby   2.0    3.0      2    1.0  1^{c}
4/0                      4/0 AWG     White   2.0    NaN      2    1.0      2
250                    250 kcmil       Red   NaN    NaN      2    1.0      2
300                    300 kcmil      Blue   NaN    NaN      2    1.0      2
350                    350 kcmil     Brown   NaN    NaN      2    1.0      2
400                    400 kcmil     Green   NaN    NaN      2    1.0      4
500                    500 kcmil      Pink   NaN    NaN  2^{e}    1.0      4
600                    600 kcmil     Black   NaN    NaN  2^{e}    1.0      4
700/750            700/750 kcmil    Yellow   NaN    NaN  2^{e}    1.0      3
700/750_2  900 kcmil\nCompact Al    Yellow   NaN    NaN    NaN    NaN      3
1000                  1000 kcmil     Brown   NaN    NaN    NaN    NaN    NaN

In [32]:
df.columns[2::]

Index(['MT25', '94285', 'IDT6', 'IDT12', 'ILC12N'], dtype='object')